{% extends 'base.html' %}

{% block main %}
<script type="text/javascript">
   $(document).ready(function() {
        $('#fullpage-pay').fullpage({})
  })

</script>
<div id="fullpage-pay">
    <div class="container" id="payment">
    <div class="row section section-1" data-anchor="pay">
        <h1>Enter your payment information to donate to #yoloswag</h1>
        <h2>We'll also remember your credit card info, so next time you can contribute with one click!</h1>
        <form id="checkout" action="{% url 'payments:register' %}" method="post">
            {% csrf_token %}
            <div id="payment-form"></div>
            <input type="submit" value="Sign Up">
        </form>
        <script>
            var clientToken = "{{ client_token }}";

            braintree.setup(clientToken, "dropin", {
                container: "payment-form"
            });
        </script>
        </div>
    </div>
</div>
{% endblock %}
