{% extends 'base.html' %}

{% block main %}
    {% if request.user and not request.user.is_anonymous %}
        <h1>Hello, {{ request.user.get_full_name }}!</h1>
    {% endif %}

    <form id="checkout" action="{% url 'payments:register' %}" method="post">
        {% csrf_token %}
        <div id="payment-form"></div>
        <input type="submit" value="Sign Up">
    </form>
    <script>
        var clientToken = "{{ client_token }}";

        braintree.setup(clientToken, "dropin", {
            container: "payment-form"
        });
    </script>
{% endblock %}
