{% extends 'base.html' %}

{% block main %}
    <ul id="menu">
        {% if request.user and not request.user.is_anonymous %}
            <li data-menuanchor="section1" class="active"><a href="#step-hello">Sign In</a></li>
            <li data-menuanchor="section2"><a href="#step-campaign">Campaign</a></li>
            <li data-menuanchor="section3"><a href="#step-goal">Goal</a></li>
        {% endif %}
    </ul>
    <div id="signup">
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div id="fullpage">
                <div class="row section section-1" data-anchor="section1">
                    <div class="container">
                        <h1>Hey! Get your campaign up in 60 seconds!</h1>
                        {%  %}
                        <a class="btn btn-block btn-social btn-twitter"
                           href="{% url 'social:begin' 'twitter' %}?next={% url 'home' %}{{ '#step-campaign' | urlencode }}">
                            <i class="fa fa-twitter"></i>
                            Connect with Twitter to get started
                        </a>
                    </div>
                </div>
                {% if request.user and not request.user.is_anonymous %}
                    <div class="row section section-2" data-anchor="section2">
                        <div class="container">
                            <label for="hashtagfield">Hey, {{ request.user.get_full_name|default:"User" }}.<br/>Pick a
                                campaign hashtag!</label>
                            <input class="u-full-width" type="field" placeholder="ex: #campaignforpizza" name="hashtag"
                                   id="hashtagfield">
                        </div>
                    </div>
                    <div class="row section section-3" data-anchor="section3">
                        <div class="container">
                            <label for="goalAmountField">What's your campaign goal?</label>
                            <input class="u-full-width" type="field" placeholder="ex: $1000" name="targetAmount"
                                   id="goalAmountField">
                            <label for="contribAmountField">Set the default contribution</label>
                            <input class="u-full-width" type="field" placeholder="ex: $5" name="contributionAmount"
                                   id="contribAmountField">
                            <input class="u-full-width" type="submit" value="Create" id="contribAmountField">
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

