{% extends 'base.html' %}

{% block main %}
    <ul id="menu">
        <li data-menuanchor="section1" class="active"><a href="#step-hello">Sign In</a></li>
        <li data-menuanchor="section2"><a href="#step-campaign">Campaign</a></li>
        <li data-menuanchor="section3"><a href="#step-goal">Goal</a></li>
        <li data-menuanchor="section4"><a href="#step-payment">Payment</a></li>
    </ul>
    <div id="signup">
        <form>
            <div id="fullpage">
                <div class="row section section-1" data-anchor="section1">
                    <div class="container">
                        <h1>Hey! Get your campaign up in 60 seconds!</h1>
                        <a class="btn btn-block btn-social btn-twitter"
                           href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                            <i class="fa fa-twitter"></i>
                            Connect with Twitter to get started
                        </a>
                    </div>
                </div>
                <div class="row section section-2" data-anchor="section2">
                    <div class="container">
                        <label for="hashtagfield">Hey, {{ request.user.get_full_name|default:"User" }}.<br/>Pick a
                            campaign hashtag!</label>
                        <input class="u-full-width" type="field" placeholder="ex: #campaignforpizza" id="hashtagfield">
                    </div>
                </div>
                <div class="row section section-3" data-anchor="section3">
                    <div class="container">
                        <label for="goalAmountField">What's your campaign goal?</label>
                        <input class="u-full-width" type="field" placeholder="ex: $1000" id="goalAmountField">
                        <label for="contribAmountField">Set the default contribution</label>
                        <input class="u-full-width" type="field" placeholder="ex: $5" id="contribAmountField">
                    </div>
                </div>
                <div class="row section section-4" data-anchor="section4">
                    <div class="container">
                        <h1>You're done!</h1>

                        <h2>Share your campaign with the world!</h2>

                        <div class="container">
                            <a href="https://twitter.com/intent/tweet?button_hashtag={{ c }}"
                               class="twitter-hashtag-button" data-size="large">Tweet #TwitterStories</a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                            <div class="twitter-bubble">
                                <p> I just created a campaign: #FreeSwag, help contribute it by tagging
                                    @IWillContribute </p>
                            </div>
                        </div>
        </form>
    </div>
{% endblock %}

