{% extends 'base.html' %}

{% block main %}
    <div id="signup">
        <form action="{% url 'campaign' %}" method="post">
            {% csrf_token %}
            <div id="fullpage">
                <div class="row section section-1" data-anchor="section1">
                    <div class="container">
                        {% if request.user and not request.user.is_anonymous %}
                            <h1>Welcome back {{ request.user.first_name }},<br/> let's set up your campaign.</h1>
                        {% else %}
                            <h1>Hey, start funding your campaign in 60 seconds!</h1>
                            <a class="btn btn-block btn-social btn-twitter"
                               href="{% url 'social:begin' 'twitter' %}?next={% url 'campaign' %}{{ '#step-campaign' | urlencode }}">
                                <i class="fa fa-twitter"></i>
                                Connect with Twitter to get started
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if request.user and not request.user.is_anonymous %}
                    <div class="row section section-2" data-anchor="section2">
                        <div class="container">
                            <label for="campaignField">Hey, {{ request.user.get_full_name|default:"User" }}.<br/>Pick a
                                campaign hashtag!</label>
                            <input class="u-full-width" type="text" placeholder="ex: #campaignforpizza" name="hashtag"
                                   id="campaignField">
                        </div>
                    </div>
                    <div class="row section section-3" data-anchor="section3">
                        <div class="container">
                            <label for="goalAmountField">What's your campaign goal?</label>
                            <input class="u-full-width" type="text" placeholder="ex: $1000" name="targetAmount"
                                   id="goalAmountField">
                            <label for="contribAmountField">Set the default contribution</label>
                            <input class="u-full-width" type="text" placeholder="ex: $5" name="contributionAmount"
                                   id="contribAmountField">
                        </div>
                    </div>
                    <div class="row section section-3" data-anchor="section3">
                        <div class="container">
                            <label for="emailField">Email address</label>
                            <input class="u-full-width" type="text" placeholder="ex: youremail@gmail.com" name="email"
                                   id="emailField">
                            <p>We will send you an email with details on how to receive payout for your campaign.</p>
                            <input class="u-full-width" type="submit" value="Create">
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

