{% extends 'base.html' %}

{% block main %}
    {% if not request.user or request.user.is_anonymous %}
        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
    {% else %}
        <h1>Hello, {{ request.user.get_full_name }}!</h1>
        <a href="{% url 'logout' %}">Logout</a>
        {% if not request.user.userprofile.payment_verified %}
            <a href="{% url 'setup_payment' %}">Setup payment</a>
        {% endif %}
        <a href="{% url 'create_campaign' %}">Create campaign</a>
    {% endif %}
{% endblock %}
