{% extends 'base.html' %}

{% block main %}
<script type="text/javascript">
   $(document).ready(function() {
        $('#fullpage-pay').fullpage({})
  })

</script>
<div id="fullpage-pay">
    <div class="container" id="payment">
    <div class="row section section-1" data-anchor="pay">
        <h1>Enter your payment information to donate
            {% if campaign_hashtag %}
                to #{{ campaign_hashtag }}
            {% endif %}
        </h1>
        <h2>We'll also remember your credit card info, so next time you can contribute with one click!</h2>
        <form id="checkout" action="{% url 'payments:register' %}" method="post">
            {% csrf_token %}
            <div id="payment-form"></div>
            <input type="submit" value="Sign Up">
            <input type="hidden" name="campaign_id" value="{{ campaign_id }}">
        </form>
        <script>
            var clientToken = "{{ client_token }}";

            braintree.setup(clientToken, "dropin", {
                container: "payment-form"
            });
        </script>
        </div>
    </div>
</div>
{% endblock %}
