@font-face {
  font-family: 'Pacifico';
  src: url("Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/custom.scss */
html {
  background: whitesmoke;
}

/* line 18, ../sass/custom.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/custom.scss */
#signup {
  font-size: 2.5em;
  font-family: 'Roboto';
  text-align: center;
}
/* line 25, ../sass/custom.scss */
#signup .btn-social {
  margin-left: 1.5em;
  padding-left: 3em;
  line-height: 2em;
  width: inherit;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 34, ../sass/custom.scss */
#signup .btn-social > :first-child {
  width: 1.5em;
  line-height: 1.2em;
}
/* line 38, ../sass/custom.scss */
#signup .fa {
  width: 1.5em;
}
/* line 41, ../sass/custom.scss */
#signup h1 {
  font-family: Pacifico;
}
/* line 45, ../sass/custom.scss */
#signup label {
  text-align: center;
}
/* line 49, ../sass/custom.scss */
#signup input {
  text-align: center;
  color: white;
  background: none;
  border: 0;
  height: 1.5em;
}
/* line 57, ../sass/custom.scss */
#signup input[type=submit] {
  font-size: 1em;
  width: initial;
  background-color: cadetblue;
  margin-top: 1em;
}
/* line 64, ../sass/custom.scss */
#signup input[type=text] {
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
/* line 70, ../sass/custom.scss */
#signup input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
/* line 75, ../sass/custom.scss */
#signup input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  opacity: 0.5;
}
/* line 79, ../sass/custom.scss */
#signup input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 0.5;
}
/* line 83, ../sass/custom.scss */
#signup input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
/* line 87, ../sass/custom.scss */
#signup input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
/* line 91, ../sass/custom.scss */
#signup .hide-section {
  display: none;
}

/* line 96, ../sass/custom.scss */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  font-family: 'Roboto';
  visibility: hidden;
}
/* line 104, ../sass/custom.scss */
#menu li {
  float: left;
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 115, ../sass/custom.scss */
#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
/* line 120, ../sass/custom.scss */
#menu li a {
  text-decoration: none;
  color: #000;
}
/* line 124, ../sass/custom.scss */
#menu li.active a:hover {
  color: #000;
}
/* line 127, ../sass/custom.scss */
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* line 130, ../sass/custom.scss */
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}
/* line 135, ../sass/custom.scss */
#menu li.active a {
  color: #fff;
}

/* line 140, ../sass/custom.scss */
.btn-block {
  display: block;
  width: 100%;
}

/* line 144, ../sass/custom.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}

/* line 148, ../sass/custom.scss */
h1#title {
  font-size: 2em;
  font-family: Pacifico;
  position: fixed;
  left: 20px;
  top: 0;
  z-index: 50;
}

/* line 158, ../sass/custom.scss */
#signup .twitter-bubble {
  position: relative;
  height: auto;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0.3em;
}
/* line 169, ../sass/custom.scss */
#signup .twitter-bubble > :first-child {
  color: #000;
  font-size: 0.8em;
  width: 100%;
}
/* line 175, ../sass/custom.scss */
#signup .twitter-bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 20px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -20px;
  top: -15px;
  left: 50%;
}

/* line 190, ../sass/custom.scss */
#payment {
  font-family: 'Roboto';
}
/* line 193, ../sass/custom.scss */
#payment h1 {
  font-size: 3.5em;
}
/* line 197, ../sass/custom.scss */
#payment h2 {
  font-size: 1.8em;
}
